body{
    background-color: cadetblue;
    color: crimson;
    font-family: Cambria;
    font-size: 20px;
}

wonky{
    color: darkseagreen;
    background-color: mediumslateblue;
    font-size: 40px;
    font-family: Courier New;
}